<div class="d-flex justify-content-center"><a href="/dashboard" class="btn btn-lg btn-outline-secondary mb-4  center"><i class="fa-solid fa-plus justify-content-around"></i> Create Post</a> </div>
<div class="card">
    {{#each posts as |post|}}
  
   {{> post-info post }}
 
  {{/each}}
</div>